:root {
    --primary-color: rgb(248, 243, 238);
    --secondary-color: rgb(187, 127, 74);
    --tertiary-color: rgb(226, 177, 136);
    --error-color: rgb(218, 48, 18);
    --shadow-color: rgba(182, 182, 182, 0.7);
    --selected-color: rgb(29, 76, 216);
    --primary-font: 'Sen', sans-serif;
    --secondary-font: 'Mukta Malar', sans-serif;
    --logo-font-size: 1.5rem;
    --error-font-size: 0.8rem;
    --big-font: 1.3rem;
    --small-font: 0.95rem;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    font-family: var(--primary-font);
    font-size: var(--big-font);
}

form {
    height: 300px;
    width: 600px;
}

a {
    color: var(--secondary-color);
    text-decoration: none;
}

a:hover {
    color: var(--tertiary-color);
}

input,
.row,
.container,
.sidebar,
.content,
.logo-container {
    display: flex;
}

input,
.content {
    flex-direction: column;
}

label,
#logo-text {
    text-transform: uppercase;
    font-family: var(--secondary-font);
}

label {
    font-size: var(--small-font);
    display: block;
}

#logo-text {
    font-size: var(--logo-font-size);
}

input {
    width: 250px;
    padding: 4px;
    border: 1px solid rgb(229, 231, 235);
    border-radius: 5px;
}

button {
    height: 45px;
    width: 235px;
    background: var(--secondary-color);
    border: none;
    border-radius: 7px;
    box-shadow: 1px 1px 4px 1px var(--shadow-color);
    margin-top: 25px;
    margin-bottom: 10px;
    font-size: var(--small-font);
    color: var(--primary-color);
}

button:hover {
    background: var(--tertiary-color);
}

/* Default password style */
input + span::after {
    content: "* Passwords do not match";
    color: var(--error-color);
    font-size: var(--error-font-size);
    display: block;
}

.error {
    border: 1px solid var(--error-color);
}

/* Selected input box */
input:focus {
    border: 1px solid var(--selected-color);
    box-shadow: 2px 2px 3px var(--shadow-color);
    outline: none;
}

input:hover {
    background: rgba(226, 177, 136, 0.5);
}

.row {
    column-gap: 10%;
}

/* Main containers */
.sidebar {
    justify-content: center;
    align-items: flex-end;
    height: 100vh;
    width: 40vw;
    background: url("../images/alevision-co-eDMQgYbKhiU-unsplash.jpg");
    background-size: cover;
    flex: 1;
    position: relative;
}

.logo-container {
    justify-content: center;
    align-items: center;
    gap: 15px;
    height: 20%;
    width: 100%;
    background: rgba(255, 255, 255, 0.7);
    position: absolute;
    top: 200px;
    z-index: 3;
}

#logo {
    width: 100px;
}

.credits-container {
    width: 100%;
    background: rgb(187, 127, 74, 0.7);
}

.credits-container * {
    color: var(--primary-color);
    font-family: var(--secondary-font);
    text-align: center;
    line-height: var(--big-font);
}

.content {
    background: var(--primary-color);
    gap: 30px;
    height: 100vh;
    width: 60vw;
    padding: 50px;
    flex: 2;
}

.intro-text {
    margin-top: 10vh;
}

.bold {
    font-weight: 600;
}

.italic {
    font-style: italic;
}
