body {
    margin: 0 auto;
}

form {
    height: 300px;
    width: 600px;
}

label,
input,
.container,
.info {
    display: flex;
}

label,
input {
    flex-direction: column;
}

label {
    text-transform: uppercase;
}

input {
    width: 250px;
    padding: 4px;
    border: 1px solid #E5E7EB;
    border-radius: 5px;
}

button {
    height: 45px;
    width: 235px;
    background: rgb(187, 127, 74);
    border: none;
    border-radius: 7px;
    box-shadow: 1px 1px 4px 1px rgba(182, 182, 182, 0.7);
    margin-top: 25px;
    margin-bottom: 10px;
}

button:hover {
    background: rgb(226, 177, 136);
}

/* Default password style */
input + span::after {
    content: "* Passwords do not match";
    top: -20px;
    color: rgb(218, 48, 18)
}

.error {
    border: 1px solid rgb(218, 48, 18);
}

/* Selected input box */
input:focus {
    border: 1px solid rgb(29, 76, 216);
    box-shadow: 2px 2px 3px rgba(182, 182, 182, 0.7);
    outline: none;
}

/* Main containers */
.sidebar {
    height: 100vh;
    width: 40vw;
    background: url("../images/alevision-co-eDMQgYbKhiU-unsplash.jpg");
    background-size: cover;
    flex: 1;
}

.content {
    height: 100vh;
    width: 60vw;
    padding: 0 15px;
    flex: 2;
}

.info {
    gap: 10%;
}

.bold {
    font-weight: 600;
}

.italic {
    font-style: italic;
}