:root {
    --primary-color: rgb(248, 243, 238);
    --secondary-color: rgb(187, 127, 74);
    --tertiary-color: rgb(226, 177, 136);
    --error-color: rgb(218, 48, 18);
    --shadow-color: rgba(182, 182, 182, 0.7);
    --selected-color: rgb(29, 76, 216);
}

* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
}

form {
    height: 300px;
    width: 600px;
}

label,
input,
.container,
.content,
.info,
.logo-container {
    display: flex;
}

label,
input,
.content {
    flex-direction: column;
}

label,
#logo-text {
    text-transform: uppercase;
}

input {
    width: 250px;
    padding: 4px;
    border: 1px solid rgb(229, 231, 235);
    border-radius: 5px;
}

button {
    height: 45px;
    width: 235px;
    background: var(--secondary-color);
    border: none;
    border-radius: 7px;
    box-shadow: 1px 1px 4px 1px var(--shadow-color);
    margin-top: 25px;
    margin-bottom: 10px;
}

button:hover {
    background: var(--tertiary-color);
}

/* Default password style */
input + span::after {
    content: "* Passwords do not match";
    top: -20px;
    color: var(--error-color);
}

.error {
    border: 1px solid var(--error-color);
}

/* Selected input box */
input:focus {
    border: 1px solid var(--selected-color);
    box-shadow: 2px 2px 3px var(--shadow-color);
    outline: none;
}

/* Main containers */
.sidebar {
    height: 100vh;
    width: 40vw;
    background: url("../images/alevision-co-eDMQgYbKhiU-unsplash.jpg");
    background-size: cover;
    flex: 1;
    position: relative;
}

.logo-container {
    justify-content: center;
    align-items: center;
    gap: 15px;
    height: 20%;
    width: 100%;
    background: rgba(255, 255, 255, 0.7);
    position: absolute;
    top: 200px;
    z-index: 3;
}

#logo {
    width: 100px;
}

.content {
    background: var(--primary-color);
    justify-content: center;
    height: 100vh;
    width: 60vw;
    padding: 50px;
    flex: 2;
}

.info {
    gap: 10%;
}

.bold {
    font-weight: 600;
}

.italic {
    font-style: italic;
}