body {
    margin: 0 auto;
}

label {
    text-transform: uppercase;
}

.container {
    display: flex;
}

.sidebar {
    height: 100vh;
    width: 40vw;
    background: url("../images/alevision-co-eDMQgYbKhiU-unsplash.jpg");
    background-size: cover;
    flex: 1;
}

.content {
    height: 100vh;
    width: 60vw;
    padding: 0 15px;
    flex: 2;
}

.bold {
    font-weight: 600;
}

.italic {
    font-style: italic;
}