body {
    margin: 0 auto;
}

form {
    height: 300px;
    width: 600px;
}

label {
    text-transform: uppercase;
}

label,
input,
.container,
.info {
    display: flex;
}

label,
input {
    flex-direction: column;
}

input {
    width: 250px;
    padding: 4px;
    border: 1px solid #E5E7EB;
    border-radius: 5px;
}

input + span::after {
    content: "* Passwords do not match";
    top: -20px;
    color: rgb(218, 48, 18)
}

.error {
    border: 1px solid rgb(218, 48, 18);
}

.info {
    gap: 10%;
}

.sidebar {
    height: 100vh;
    width: 40vw;
    background: url("../images/alevision-co-eDMQgYbKhiU-unsplash.jpg");
    background-size: cover;
    flex: 1;
}

.content {
    height: 100vh;
    width: 60vw;
    padding: 0 15px;
    flex: 2;
}

.bold {
    font-weight: 600;
}

.italic {
    font-style: italic;
}